global
  stats socket ipv4@*:8444 user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend whisperlb
  bind :9000
  default_backend webservers

backend webservers
  mode http
  balance leastconn
  server w1 trunk-transcribe-whisper-api-1:9000 check
  server w2 trunk-transcribe-whisper-api-2:9000 check
  server w3 trunk-transcribe-whisper-api-3:9000 check
